.container_1{
    background-color: #1f2937;
}
.header{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.header .navbar {
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: darkgrey;
}
.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    margin-right: 40%;
}

.headerContent {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-left: 5%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}
.descriptionHeader{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}
.description .text {
    font-size: 18px;
    color:darkgrey;
}
.headerContent img{
    width: 500px;
    height: 250px;
}
.description .signup {
    background-color: #3882F6;
    border-radius: 3px;
    border: 0;
    padding: 5px;
    color: white;
}

.midHeader .infoHeader{
    padding-top: 60px;
    padding-left: 39%;
    padding-bottom: 20px;
    font-size: 36px;
    color: #1F2937;
    font-weight: bold;
}
.midHeader ul{ 
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 100px;
}
.midHeader img {
    border: 3px solid #3882F6 ;
    border-radius: 13px;
    margin-bottom: 10px;
    padding:100px;
}
.midHeader div p {
    word-wrap: break-word;
    width: 263px;
    text-align: center;
}

.quote {
    background-color: lightgrey;
    padding-top: 100px;
    padding-bottom: 80px;
}
.quote_writer {
    margin-top: 30px;
    margin-left: 70%;
    font-size:30px;
}
.quoteText{
    font-size: 36px;
    font-style: italic;
    width: 60%;
    margin-left: 20%;
}

.banner {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 5px;
    margin: 100px 400px 100px 400px;
    padding: 50px;
}

.banner .textDiv .textTitle {
    font-weight: bold;
    margin-right: 600px;
    font-size: 30px;   
    margin-bottom: 10px;
}

.banner .textDiv .text {
    font-size: 18px;
}

